* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #102E50; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    width: 800px;
    background-color: #102E50;
    color: white;
    padding: 40px;
    border-radius: 10px;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
  }
  
  .logo {
    width: 350px;
    height: auto; 
  }
  
  
  .left h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .left p {
    font-size: 16px;
  }
  
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    color: black;
    text-align: center;
  }
  
  .login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    background-color: #102E50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #27548A;
  }
  
  .error {
    margin-top: 10px;
    color: #102E50;
    font-size: 13px;
  }
  